<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- Application Loggers -->
    <logger name="org.springframework.samples.petclinic.service" level="DEBUG"/>
    <logger name="org.springframework.samples.petclinic.rest" level="DEBUG"/>

    <!-- SQL Logging -->
<!--    <logger name="org.hibernate.SQL" level="INFO"/>-->

    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
